{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ГенСтрой 18 Ижевск</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index_m.css'%}?version=1" type="text/css">
    <link rel="shortcut icon" href="{%  static 'img/logo.png' %}">
</head>
<body>
    <header class="container-fluid">
        <div class="colum">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                Главная
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel" class="white">Навигация</h5>
                    <button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Закрыть">&times;</button>
                </div>
                <div class="offcanvas-body">
                    <a class="btn" data-bs-dismiss="offcanvas">Главная</a>
                    <a class="btn" href="{% url 'about' %}">Информация</a>
                    <a class="btn" href="{% url 'contacts' %}">Контакты</a>
                    <a class="btn" href="{% url 'partners' %}">Партнёры</a>
                    <a class="btn" href="{% url 'reviews' %}">Отзывы</a>
                    <a class="btn" href="{% url 'news' %}">Новости</a>
                    <div class="ender">
                        <h5 style="font-size: 20px;"><b>ТГК ООО “ГЕНСТРОЙ18”</b></h5>
                        <h4 style="font-size: 15px;"><b>Контакты</b></h4>
                        <p style="font-size: 15px;"><b>Тел:</b> +7 912 876-88-34<br>
                        <b>VK:</b> vk.com/genstroy18<br>
                        <b>YT:</b> youtube.com/genstroy18<br>
                        <b>Email:</b> tkpiramida@bk.ru<br>
                        <b>Адрес:</b> г.Ижевск, ул.Труда 78, кв. 27</p>
                        <br>
                        <p style="font-size: 8px;">Компания зарегистрирована Управление Федеральной налоговой службы<br>по Удмуртской Республике 3 февраля 2023 года</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <h3 class="predis">Ген-Строй 18 -  ваш партнер в строительстве. Производим и продаём газо-бетонные блоки.<br>Создайте комфортное пространство с нами.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>