.html {
    font-family: Jost, sans-serif;
}
.container-fluid {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    z-index: 2;
}
.colum {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: black;
}
.main {
    width: 100%;
    height: 100%;
    font-size: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 1;
}
.btn {
    text-align: center;
    width: 100%;
    border: none;
    background: none;
    color: white;
    font-weight: 500;
}
.dropdown-menu {
    background-color: black;
}
.offcanvas-header {
    background-color: black;
}
.offcanvas-body {
    background-color: black;
}
.white {
    color: white;
}
.close-btn {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
}
.reviews {
    margin-bottom: 5rem;
    width:100%;
    height:50rem;
}
.reviews_main {
    width:100%;
    height:100%;
    z-index: 1;
}
.predis {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}
.predis:before,
.predis:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.predis:before {
    width: 80%;
    content: "";
    display: block;
    height: 5px;
    background-color: black;
    margin-bottom: 1rem;
    top: -1rem;
}
.predis:after {
    width: 70%;
    content: "";
    display: block;
    height: 5px;
    background-color: black;
    margin-top: 1rem;
}